:root {
  --roxo-escuro: #632BAB;
  --roxo-claro: #B299D1;

  --laranja-escuro: #FF914D;
  --laranja-claro: #FFA974;

  --cinza-mais-escuro: #848484;
  --cinza-escuro: #BFBFBF;
  --cinza-claro: #F4F4F4;

  --branco: #FFFFFF;
  --preto: #000000;
    
  --sombra-escura: 5px 10px 5px rgba(0,0,0,0.2);
  --sombra-clara: 2px 4px 7px 1px rgba(0,0,0,0.2);
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

/* Layout do body dos templates base  */

#body_roxo {
  font-size: 18px;
  background-color: var(--roxo-escuro);
  overflow-y: scroll;
  height: 100%;
}

#body_cinza {
  font-size: 18px;
  background-color: var(--cinza-claro);
  color: var(--laranja-escuro);
  margin: 0;
}

/* Layout do header dos templates base  */

#body_roxo header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3vh;
}

#body_cinza header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3vh;
  background-color: var(--roxo-escuro);
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

/* Layout dos blocos com id="container"  */

#container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 10vw;
}

#container-central {
  padding-top: 5.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-central span {
  font-size: 35px;
  font-weight: bold;
  align-self: flex-start;
  padding-left: 6vh;
}

#container-inner {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 4vh;
}

#container-inner article {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 40vh;
  margin-right: 5vh;
  margin-left: 5vh;
}

#container-inner article p{
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  align-self: center;
  padding-bottom: 3vh;
}

#button-container {
  display: flex;
  /* align-content: center; */
  /* justify-items: center; */
  justify-content: space-evenly;
  margin: 5vh 0 0 0;
  width: 70%;
}

#button-container a{
  margin-left: 5vh;
  margin-right: 5vh;
}

#button-container button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-size: 18px;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

#button-container button img{
  width: 40px;
  height: 40px;
  object-fit: none;
  border-radius: 0;
  box-shadow: none;
}

.Resumo, .PedidosTable {
  width: 100%;
}

.PedidosTable {
  overflow-x: auto;
}

.PedidosTable table {
  color: var(--preto);
  background-color: var(--roxo-claro);
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.PedidosTable th, td {
  padding: 15px;
  text-align: center;
}

.PedidosTable tr:nth-child(even) {
  background-color: var(--cinza-claro);
}

.PedidosTable th {
  background-color: var(--laranja-escuro);
}

#container-resumo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (max-width:629px) {
  #container-resumo {
    flex-direction: column;
  }
}

/* Layout dos cards */

.card {
  display: flex;
  flex-direction: column;

  background-color: var(--branco);
  color: var(--cinza-mais-escuro);
  box-shadow: var(--sombra-escura);
  border-radius: 42px;

  padding: 0 5vw;
  margin: 2vh 5vw;
  flex-grow: 1;
  flex-basis: 0;
}

.card p {
  margin: 0 0 15px 0;
}

/* Layout de blocos gerais com id */

#img-container {
  height: 20vh;
  width: 20vh;
}

#img-container-2 {
  height: 10vh;
  width: 10vh;
}

#img-container-2 img {
  box-shadow: var(--sombra-clara);
}

#img-container-form {
  height: 20vh;
  width: 20vh;
  margin-bottom: 4vh;
}

#return-button {
  padding-right: 4vh;  
  height: 24px;
}

#exit-button {
  padding-right: 1vh;
  height: 24px;
  margin-left: auto;
}

#return-button img, #exit-button img {
  box-shadow: none;
}

#body_roxo h1 {
  color: var(--laranja-escuro);
  font-size: 32px;
  text-align: center;
}

#body_roxo h2 {
  color: var(--laranja-escuro);
  font-size: 28px;
}

/* Layout de blocos gerais sem id */

img {
  height:100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--sombra-escura);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input, form button {
  margin: 16px;
  font-size: 18px;
}

form input {
  border-color: transparent;
  border-radius: 42px;
  padding: 16px 24px;
  box-shadow: var(--sombra-escura)
}

form input::placeholder {
  font-weight: bold;
  color: var(--cinza-mais-escuro);
  font-size: 16px;
}

form p label {
  display: none;
}

a, a:visited{
  font-weight: bold;
  text-decoration: none;
  color: var(--roxo-claro);
  text-shadow: var(--sombra-escura);
}

a:hover{
  color: var(--branco);
}

button {
  font-size: 18px;
  font-weight: bold;
  color: var(--branco);
  cursor: pointer;
  background-color: var(--laranja-escuro);
  border-color: transparent;
  border-radius: 42px;
  padding: 16px 24px;
  box-shadow: var(--sombra-escura);
  margin: 0 3vw;
}

button.selected {
  background-color: var(--roxo-claro);
}

button.selected:hover {
  background-color: var(--roxo-claro);
  color: var(--branco);
}

button:hover{
  background-color: #c66f3a;
  color: #d7d7d7;
}

